@use "mixins" as m;

footer {
  @include m.mobile {
    flex-direction: column;

    display: flex;
  }

  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;

  .footer-item {
    li {
      list-style: none;
      color: white;
      margin: 15px;
      text-decoration: none;

      a {
        margin-right: 15px;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        display: inline-block;
        color: white;
        &:hover {
          color: blue;
        }
      }
    }
  }
}
